.desktop-page-header,
.landing-page-header hr,
.desktop-nav-div {
  display: none;
}

.background {
  background-image: url('../images/landing-page-background.png');
  padding-top: 50px;
}

.desktop-about-page {
  background-image: url('../images/about-page-background.png');
}

@media only screen and (min-width: 768px) {  
  .do-collapse-div,
  .mobile-p,
  .undo-collapse-div,
  .register-button,
  .mobile-nav-div {
    display: none;
  }

  .speakers-div-container {
    padding: 0;
  }

  .speakers-div-container-header {
    margin-bottom: 5%;
  }

  .footer-header {
    margin-bottom: 30px;
    padding-top: 30px;
  }
  
  footer {
    padding-top: 3%;
  }  

  .footer-header h2 {
    margin-bottom: 0;
    color: #98989a
  }

  .margin-right {
    margin-right: 2%;
  }

  ul {
    list-style: none;
  }

  .block,
  .landing-page-header hr,
  .desktop-page-header {
    display: block;
  }

  .group-speakers-div,
  .button-div,
  .program-page-header,
  .flex-div,
  .desktop-nav-ul,
  .desktop-nav-img-div,
  .desktop-nav,
  .desktop-nav-top-ul,
  .desktop-nav-top,
  .desktop-nav-div {
    display: flex;
  }
  
  .desktop-nav-top,
  .desktop-nav-div,
  .width {
    width: 100%
  }

  .program-page-header,
  .program-card-div header.program-card-header,
  .program-card-div,
  .desktop-nav-div {
    flex-direction: column;    
  }
  
  .desktop-nav-top-ul,
  .desktop-nav-top {
    flex-direction: row;
  }

  .desktop-page-header h2,
  .desktop-nav-ul,
  .desktop-nav-top {
    font-family: 'LatoWebMedium', Helvetica, sans-serif;  
  }

  .desktop-nav-top {
    height: 40px;  
    list-style: none;
    background: #272a31;
    color: #ffff;      
  }

  li.img-list img {
    height: 50%;
    width: 35px;
  }

  .desktop-nav-top-ul {
    padding-right: 5%;
  }

  .desktop-nav-top-ul {
    align-items: center;
    width: 100%;
    justify-content: flex-end;    
  }

  .desktop-nav {
    background: #ffff;
    height: 100px;
  }

  .desktop-nav-img-div {
    padding-left: 5%;
  }

  .desktop-nav-img-div img {
    height: 100%;
  }

  .desktop-nav-img-div {
    width: 30%;    
    justify-content: flex-start;    
  }

  .desktop-nav-ul {
    width: 70%;    
    font-size: 18px;
    padding-right: 5%;
    justify-content: space-between;
  }

  .desktop-nav-ul li {
    align-self: center;
  }

  .desktop-nav-ul li.fancy {
    font-weight: bold;
    border: 5px solid #ec5242;
    padding: 2%;
  }

  .desktop-nav-ul a {
    text-decoration: none;
  }

  .landing-page-header hr,
  .speakers-div-container-header hr,
  .desktop-nav-ul li.fancy,
  .desktop-nav-ul a:hover {
    color: #ec5242;
  }

  .margin {
    margin-bottom: 0;
  }
  
  .margin-top {
    margin-top: 10%;
  }  
  
  .pad-div,
  .desktop-landing-page {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .desktop-about-page,
  .desktop-landing-page {
    margin-top: 0;
  }

  .desktop-about-page {
    padding-top: 50px;
  }

  .desktop-border-div {
    width: 50%;
    font-size: 16px;
  }

  .program-card-div {
    margin-left: 0;
    margin-right: 0.3%;
    margin-bottom: 0;
    width: 20%;
    height: 250px;
    align-items: center;
  }

  .program-card-header p {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .flex-div {
    padding-left: 5%;
    padding-right: 5%;
    height: 300px;
  }

  .program-card-div:hover {
    border: 0.3px solid #d3d3d3;
  }

  .button-div {
    justify-content: center;
    align-items: center;
  }
  
  .desktop-page-header h2 {
    margin-bottom: 0;
    height: 100%;
    justify-content: center;  
    border-bottom: 1px solid #d3d3d3;
    text-align: center;  
    color: #d3d3d3;
    font-size: 16px;
    cursor: pointer;
  }

  .landing-page-header h2 {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .group-speakers-div {
    margin-left: 5%;
    margin-right: 5%;
  }

  .single-speaker-div {
    width: 50%;
  }

  .landing-page-header hr,
  .speakers-div-container-header hr {
    border: 1px solid;
    width: 3%;
  }

  .landing-page-header hr {
    margin-bottom: 3%;
  }

  .landing-page-p-div {
    margin-bottom: 5%;
  }

  .landing-page-p-div p.border-div,
  p.border-div {
    font-size: 18px;
  }

  p.border-div {
    width: 60%;
    align-self: center;
  }

  .about-landing-page-p {
    width: 80%;
  }

  .main-logo-div {
    width: 40%;
    align-self: center;
    margin-bottom: 5%;
  }

  .footer-img-div img {
    content: url('../images/Partners-Desktop.PNG');
  }

  .licence-div img {
    content: url('../images/ccGrey.PNG');
    height: 30%;
  }

  .licence-div {
    background: #f2f2f2; 
    min-height: 200px;
    padding-left: 25%;
    padding-right: 20%;
    width: 55%;
  }

  .partners {
    min-height: 200px;
  }
}