.mobile-nav {
  display: none;
  z-index: 9;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ec5242;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.mobile-nav-top {
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  height: 80px;
}

.mobile-nav-menu-list a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 20px;
}

.mobile-nav-menu-list a:hover {
  border-bottom: 4px solid #272a31;
}

.mobile-nav-list {
  width: 100%;
  height: 80%;
}

li.mobile-nav-list-title {
  text-decoration: none;
}

.mobile-nav-menu-list {
  list-style: none;
  font-family: 'CocoGoose', Helvetica, sans-serif;
  text-align: center;
  flex-direction: column;
  align-content: center;
  min-width: 100%;
  padding: 0;
  height: 80%;
}

.mobile-nav-top div.cross-img-div {
  max-width: 8%;
}

.cross-img-div {
  height: 50%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 10%;
}

.cross-img {
  height: 100%;
  width: 100%;
  resize: both;
}
